:root {
    --accent-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.web {
    color: #2196F3;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}


/* ------------------HEADER--------------------- */

.header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
}

.header-list {
    display: flex;
}

.header-contacts {
    margin-left: auto;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.current {
    color: var(--accent-color);
}

.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    flex-direction: row;
    fill: currentColor;
}

.header-soc-icon {
    fill: currentColor;
    margin-right: 10px;
}

.header-link:hover,
.header-mail:hover,
.header-tel:hover,
.header-link:focus,
.header-mail:focus,
.header-tel:focus {
    color: var(--accent-color);
}


/* ------------------HERO--------------------- */

.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/main/bghero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: #fff;
}

.hero-btn:hover,
.hero-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* ------------------BENEFITS--------------------- */

.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list {
    display: flex;
}

.benefits-item {
    min-width: 270px;
}

.benefits-item:not(:last-child) {
    margin-right: 30px;
}

.benefits-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}


/* ------------------WORK--------------------- */

.work {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.work-title {
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
}

.work-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
}

.work-item:nth-child(3n) {
    margin-right: 0;
}


/* ------------------TEAM--------------------- */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-item {
    max-width: 270px;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:nth-child(4n) {
    margin-right: 0;
}

.team-item-text {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team-item-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-text {
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
}

.team-soc-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.team-soc-item:last-child {
    margin-right: 0;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
}

.team-soc-icon {
    fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}


/* ------------------CUSTOMERS--------------------- */

.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers-list {
    display: flex;
}

.customers-item {
    width: 170px;
    height: 92px;
}

.customers-item:not(:last-child) {
    margin-right: 30px;
}

.customers-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #afb1b8;
}

.customers-soc-icon {
    fill: currentColor;
}

.customers-soc-link:hover,
.customers-soc-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}


/* ------------------FOOTER--------------------- */

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    color: #fff;
    margin-bottom: 20px;
}

address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
}

.address {
    color: #fff;
}

.footer-right {
    margin-left: 70px;
}

.footer-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-soc-list {
    display: flex;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.footer-soc-item:last-child {
    margin-right: 0;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.footer-soc-icon {
    fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}


/* ------------------PORTFOLIO--------------------- */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-list-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-button button {
    font-family: inherit;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
    background-color: #F5F4FA;
    padding: 6px 22px;
    cursor: pointer;
}

.portfolio-button:not(:last-child) {
    margin-right: 8px;
}

button:hover,
button:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #fff;
}

.portfolio-card-text {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    max-width: 370px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio-item a {
    display: block;
    text-decoration: none;
}

.portfolio-item a:hover,
.portfolio-item a:focus,
.portfolio-button:hover,
.portfolio-button:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n + 1) {
    margin-left: 0;
}

.portfolio-item:nth-child(-n + 3) {
    margin-top: 0;
}

.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: #212121;
}

.portfolio-item-text {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}